{% extends 'base.html' %}
{% block main-content %}
<div class="container mt-5">
    <h2>Đặt lịch hẹn thất bại</h2>
    <!-- Hiển thị thông báo -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-primary">Quay lại trang chủ</a>
</div>
{% endblock %}
