{% extends 'website/base.html' %} {% load static%} {% block clinic-content%}
<div class="container">
  <div class="header-container">
    <div class="header">
      <img src="{{clinic.ImageURL}}" alt="Clinic logo" />
    </div>
    <div class="info-container">
      <div class="clinic-info">
        <h1>{{clinic.clinic_name}}</h1>
        <p class="address">
          <i class="fas fa-map-marker-alt"></i>
          {{clinic.address}}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="main-content">
        <ul class="navigation-bar d-none d-md-flex d-sm-none">
          <li class="active"><a href="#information">Thông tin chung</a></li>
          <li><a href="#about">Giới thiệu</a></li>
          <li><a href="#service">Bảng giá & dịch vụ</a></li>
        </ul>
        <div class="info-section" id="information">
          <h3>Thông tin chung</h3>
          <div class="schedule">
            <h4>Giờ làm việc</h4>
            <table>
              <thead>
                <tr>
                  <th>Thứ</th>
                  <th>Giờ làm việc</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Thứ hai</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
                <tr>
                  <td>Thứ ba</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
                <tr>
                  <td>Thứ tư</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
                <tr>
                  <td>Thứ năm</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
                <tr>
                  <td>Thứ sáu</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
                <tr>
                  <td>Thứ bảy</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
                <tr>
                  <td>Chủ nhật</td>
                  <td>{{clinic.opening_hours}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="about-content" id="about">
          <h3>Giới thiệu</h3>
          <div>
            {{clinic.description|safe}}
          </div>
        </div>
        <div class="service-content" id="service">
          <h3>Bảng giá & dịch vụ</h3>
          <div class="caption">BẢNG GIÁ NIỀNG RĂNG INVISALIGN</div>
          <table class="pricing-table">
            <thead>
              <tr>
                <th>Tên dịch vụ</th>
                <th>Đơn vị</th>
                <th>Giá tham khảo (VNĐ)</th>
              </tr>
            </thead>
            <tbody>
              {%for item in services%}
              <tr>
                <td>{{item.service_name}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.price}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking-form">
        <h3>Đặt lịch</h3>
        <form method="POST">
          {% csrf_token %}
          <label for="clinic">Phòng khám</label>
          <input
            type="text"
            id="clinic"
            value="{{clinic.clinic_name}}"
            disabled
            name="clinic"
          />
          <label for="dentist">Bác sĩ:</label>
          <select id="dentist" name="dentist">
            <option value="">Chọn bác sĩ</option>
            {% for dentist in dentists %}
            <option value="{{ dentist.id }}">{{ dentist.dentist.full_name }}</option>
            {% endfor %}
          </select>

          <label for="service">Dịch vụ</label>
          <select id="service" name="service">
            {%for item in services%}
            <option value="{{ service.id }}">{{item.service_name}}</option>
            {% endfor %}
          </select>

          <label for="date">Ngày:</label>
          <input type="date" id="date" name="date"/>

          <label for="time">Thời gian:</label>
          <select id="time" name="time">
            <option value="">Chọn thời gian</option>
          </select>
          
          <label for="name">Họ và tên</label>
          <input type="text" id="name" name="name"/>

          <label for="phone">Số điện thoại</label>
          <input type="tel" id="phone" name="phone"/>

          <label for="address">Địa chỉ</label>
          <input type="text" id="address" name="address"/>

          <button type="submit" style="margin-top: 5px">Đặt lịch hẹn</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock clinic-content%}
