{% extends 'website/base.html' %}
{%block main-content%}
<div>
    <div class="contact-info">
        <h1>Liên hệ</h1>
        <h2>Thông tin liên hệ hỗ trợ</h2>
        <p><b>Địa chỉ:</b> Tòa Nhà Chung Cư CityLand Quận 7, Thành Phố Hồ Chí Minh</p>
        <p><b>Hotline:</b> 0911.186.851</p>
        <p><b>Email:</b></p>
        <ul>
            <li>Tìm hiểu thông tin về Bookingsmile: <a href="mailto:info@bookingsmile.vn">info@bookingsmile.vn</a></li>
            <li>Tư vấn, giải đáp thắc mắc khi sử dụng ứng dụng: <a href="mailto:info@bookingsmile.vn">info@bookingsmile.vn</a></li>
            <li>Doanh nghiệp, cá nhân đề nghị hợp tác, đóng góp thông tin: <a href="mailto:business@bookingsmile.vn">business@bookingsmile.vn</a></li>
            <li>Báo lỗi kỹ thuật website: <a href="mailto:report@bookingsmile.vn">report@bookingsmile.vn</a></li>
        </ul>
        <p><b>Website:</b> <a href="https://bookingsmile.vn">https://bookingsmile.vn</a></p>
        <p><b>Facebook:</b> <a href="https://www.facebook.com/bookingsmile">https://www.facebook.com/bookingsmile</a></p>
        <p><b>Twitter:</b> <a href="https://twitter.com/bookingsmile">https://twitter.com/bookingsmile</a></p>
        <p><b>Pinterest:</b> <a href="https://www.pinterest.com/bookingsmilevn/">https://www.pinterest.com/bookingsmilevn/</a></p>
    </div>
</div>
{%endblock%}