{% extends 'index.html' %}

{% block main-content %}
<div class="schedule-container">
    <h2 class="text-center">Lịch làm việc của phòng khám: {{ clinic.clinic_name }}</h2>
    <a href="{%url 'add_schedule_clinic' clinic.slug%}" class="btn btn-sm btn-primary">Thêm lịch làm việc</a>
    {% if schedules %}
        {% comment %} <ul class="schedule-list">
            {% for schedule in schedules %}
                <li class="schedule-item">
                    <div class="schedule-details">
                        <p><i class="fa fa-calendar"></i> Ngày: {{ schedule.day }}</p>
                        <p><i class="fa fa-clock"></i> Giờ: {{ schedule.time }}</p>
                        <p><i class="fa fa-user-md"></i> Bác sĩ: {{ schedule.dentist.dentist.full_name }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul> {% endcomment %}
        <div class="appointment-table-container">

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nha sĩ</th>
                        <th>Phòng khám</th>
                        <th>Ngày</th>
                        <th>Thời gian</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in schedules%}
                    <tr>
                        <td>{{item.dentist}}</td>
                        <td>{{item.clinic}}</td>
                        <td>{{item.day}}</td>
                        <td>{{item.time}}</td>
                        <td>
                            <a href="{% url 'cancel_schedule_clinic' item.clinic.slug item.id %}" class="btn btn-danger btn-sm">Hủy</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tfoot>
            </table>
        </div>
    
    {% else %}
        <p class="text-center">Phòng khám hiện chưa có lịch làm việc nào.</p>
    {% endif %}
</div>

<style>
    .schedule-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .schedule-list {
        list-style-type: none;
        padding: 0;
    }

    .schedule-item {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: background-color 0.3s;
    }

    .schedule-item:hover {
        background-color: #f1f1f1;
    }

    .schedule-details p {
        margin: 5px 0;
        font-size: 1.1em;
        color: #555;
    }

    .schedule-details p i {
        color: #888;
        margin-right: 10px;
    }
</style>
{% endblock %}
