{% extends "app_manage/index.html" %}
{% load static %}
{% block main-content %}
<main>
    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                /
                <li><a href="{% url 'dashboard' %}" class="active">Dashboard</a></li>
            </ul>
        </div>
    </div>

    <!-- Insights -->
    {% if request.user.role == 'ClinicOwner' %}
        <ul class="insights">     
            <li>
                <i class='bx bx-calendar-check'></i>
                <span class="info">
                    <h3>{{ total_clinics }}</h3>
                    <p>Tổng số phòng khám</p>
                </span>
            </li>
            <li>
                <i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3>{{ total_dentists }}</h3>
                    <p>Tổng số nha sĩ</p>
                </span>
            </li>
        </ul>
        <div class="dashboard-container">
            <div class="lists-container">
                <div class="clinics-list">
                    <h3>Danh sách phòng khám</h3>
                    {% if clinics %}
                        <ul>
                            {% for clinic in clinics %}
                                <li>{{ clinic.clinic_name }} - {{ clinic.address }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Không có phòng khám nào.</p>
                    {% endif %}
                </div>
                <div class="dentists-list">
                    <h3>Danh sách nha sĩ</h3>
                    {% if dentists %}
                        <ul>
                            {% for dentist in dentists %}
                                <li>{{ dentist.dentist.full_name }} - {{ dentist.clinic.clinic_name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Không có nha sĩ nào.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elif request.user.role == 'Dentist' %}
        <ul class="insights">     
            <li>
                <i class='bx bx-calendar-check'></i>
                <span class="info">
                    <h3>{{ total_schedule }}</h3>
                    <p>Tổng số lịch làm việc</p>
                </span>
            </li>
            <li>
                <i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3>{{ total_appointment }}</h3>
                    <p>Tổng số lịch hẹn</p>
                </span>
            </li>
        </ul>
        <div class="dashboard-container">
            <div class="lists-container">
                <div class="schedules-list">
                    <h3>Danh sách lịch làm việc</h3>
                    {% if schedules %}
                        <ul>
                            {% for schedule in schedules %}
                                <li>{{ schedule.date }} - {{ schedule.time }} - {{ schedule.clinic.clinic_name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Không có lịch làm việc nào.</p>
                    {% endif %}
                </div>
                <div class="appointments-list">
                    <h3>Danh sách lịch hẹn</h3>
                    {% if appointments %}
                        <ul>
                            {% for appointment in appointments %}
                                <li>{{ appointment.appointment_date }} - {{ appointment.time }} - {{ appointment.full_name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Không có lịch hẹn nào.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</main> 
<style>
    .dashboard-container {
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .dashboard-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .lists-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .clinics-list, .dentists-list, .schedules-list, .appointments-list {
        width: 45%;
        background-color: #fff;
        padding: 20px;
        margin: 10px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .clinics-list h3, .dentists-list h3, .schedules-list h3, .appointments-list h3 {
        margin-bottom: 10px;
        color: #555;
    }

    .clinics-list ul, .dentists-list ul, .schedules-list ul, .appointments-list ul {
        list-style-type: none;
        padding: 0;
    }

    .clinics-list li, .dentists-list li, .schedules-list li, .appointments-list li {
        margin: 5px 0;
        font-size: 1.1em;
        color: #333;
    }
</style>
{% endblock main-content %}
