{% extends "app_manage/index.html" %}
{%load static%}
{% block main-content %}
<main>
    <div class="header">
        <div class="left">
            <h1>Lịch làm việc</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{%url 'index'%}">
                        Home
                    </a>
                </li>
                /
                <li><a href="{%url 'schedule' %}" class="active">Lịch làm việc</a></li>
            </ul>
        </div>
    </div>
    <div class="appointment-table-container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nha sĩ</th>
                    <th>Phòng khám</th>
                    <th>Ngày</th>
                    <th>Thời gian</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {%for item in schedule%}
                <tr>
                    <td>{{item.dentist}}</td>
                    <td>{{item.clinic}}</td>
                    <td>{{item.day}}</td>
                    <td>{{item.time}}</td>
                    <td>
                        
                        <a href="{%url 'add_schedule'%}" class="btn btn-sm btn-primary"
                        >Thêm</a
                    >
                        <a href="{% url 'cancel_schedule' item.id %}" class="btn btn-danger btn-sm">Hủy</a>
                    </td>
                </tr>
                {%endfor%}
            </tfoot>
        </table>
    </div>

</main> 
{% endblock main-content %}