{% extends 'website/base.html' %} {% load static%} {% block clinic-content%}
<div class="clinic-content">
  <div class="header-container">
    <div class="header">
      <img src="{{dentist.dentist.ImageURL}}" alt="Clinic logo" style="border-radius: 8px;"/>
    </div>
    <div class="info-container">
      <div class="clinic-info">
        <h1>{{dentist.position}} {{dentist.dentist.full_name}}</h1>
        <p class="phone">
          <i class="fas fa-phone"></i>
          {{dentist.dentist.phone_number}}
        </p>
        <p class="address">
          <i class="fas fa-map-marker-alt"></i>
          {{dentist.dentist.address}}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="main-content">
        {% comment %} <ul class="navigation-bar d-none d-md-flex d-sm-none">
          <li class="active"><a href="#information">Thông tin chung</a></li>
          <li><a href="#about">Giới thiệu</a></li>
          <li><a href="#service">Bảng giá & dịch vụ</a></li>
        </ul> {% endcomment %}
        <div class="description">
          <h2>Thông tin nha sĩ</h2>
          <div>
            {{dentist.description|safe}}
          </div>
        </div>
      </div>
    </div>
    {% if request.user.role == "Customer"%}
    <div class="col-md-3">
      <!-- Hiển thị thông báo -->
      {% if messages %}
      <div class="messages">
          {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
          </div>
          {% endfor %}
      </div>
      {% endif %}
        <div class="booking-form"> 
          <h3>Đặt lịch</h3>
          <form method="POST" action="{% url 'book_appointment' %}">
            {% csrf_token %}
            <label for="clinic">Phòng khám</label>
            <select id="clinic" name="clinic" required>
              {%for clinic in clinics%}
              <option value="{{ clinic.id }}">{{ clinic.clinic_name }}</option>
              {% endfor %}
            </select>

            <label for="dentist">Bác sĩ:</label>
            <select id="dentist" name="dentist" required>
              <option value="{{ dentist.id }}">{{ dentist.dentist.full_name }}</option>
            </select>

            <label for="service">Dịch vụ</label>
            <select id="service" name="service" required>
              {%for item in services%}
              <option value="{{ item.id }}">{{item.service_name}}</option>
              {% endfor %}
            </select>

            <label for="date">Ngày:</label>
            <input type="date" id="date" name="date" required/>

            <label for="time">Thời gian:</label>
            <select id="time" name="time" required>
              <option value="">Chọn thời gian</option>
            </select>
            
            <label for="name">Họ và tên</label>
            <input type="text" id="name" name="name" required/>

            <label for="phone">Số điện thoại</label>
            <input type="tel" id="phone" name="phone" required/>

            <label for="address">Địa chỉ</label>
            <input type="text" id="address" name="address" required/>
            {%for message in messages%}
            <p id="message">{{message}}</p>
            {%endfor%}

            <button type="submit" style="margin-top: 5px">Đặt lịch hẹn</button>
          </form>
        </div>
    </div>
    {%endif%}
  </div>
</div>
{% endblock clinic-content%}


