<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dental Clinic</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Liceria Dental Clinic" class="logo">
    <div class="container">
      <h1 class="mt-5">Welcome to Our Dental Clinic</h1>
      <a href="{{ url_for('register') }}" class="btn btn-primary mt-3">Register</a>
      <a href="{{ url_for('login') }}" class="btn btn-secondary mt-3">Login</a>
    </div>
  </body>
</html>
