<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <img src="https://pfst.cf2.poecdn.net/base/image/f90c230b5cca24dfd0a8da8865445527b88d992f057b5acae4ab5614d4b12037?w=1024&h=768&pmaid=253292808" alt="Dental Clinic Logo" class="logo">
        <h2>Đăng Nhập</h2>
        <form action="/" method="post">
            <label for="username">Tên người dùng:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Đăng Nhập</button>
        </form>
        <p>Chưa có tài khoản? <a href="/register">Đăng ký ngay!</a></p>
    </div>
</body>
</html>